.form-group {
  margin-bottom: 20px;
}

.FacilityLabel {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
  color: black;
  margin-left: -24rem; /* Adjust as needed */
}

.facility-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.form-check1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s;
  text-align: center;
  position: relative;
  height: 90px;
  width: 90px;
}

.form-check1.selected {
  border-color: #007bff; /* Selected border color */
  background-color: #eaebeb; /* Selected background color */
}

.form-check1:hover {
  border-color: #ccc; /* Example hover border color */
}

.form-check1.selected .facility-icon {
  color: #007bff; /* Color when selected */
}

.facilityname {
  font-size: 16px;
  margin-bottom: 10px;
  display: block;
  color: black;
}

.facility-icon {
  color: #1d1c1c;
  font-size: 24px;
}

/* Adju