.offerForm
{
    margin-top: 4rem;
    

}/*.buttons-container {
    display: flex;
    gap: 10px;
    margin-top: 106px;
  }*/
  
  .offerForm {
    margin: 20px;
    
    margin-top: -10rem;
}
  
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .buttons-container {
    display: flex;
    flex-direction:row;
    gap: 10px;
    margin-top: 100px;
    margin-top: 11rem;
  }
  
  .firstoffer,
  .secondoffer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    color: black;
    background-color: rgb(181, 201, 232);
    padding: 0 10px; /* Optional: Add some padding to the left and right */
  }
  .firstoffer{
    background-color: rgb(211, 203, 189);
  }
  .firstoffer button,
  .secondoffer button {
    margin-right: 1rem;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
  }
  
  .firstoffer button {
    background-color: #007bff; /* Blue background */
  }
  
  .firstoffer button:hover {
    background-color: #0056b3;
  }
  
  .secondoffer button {
    background-color: #28a745; /* Green background */
  }
  
  .secondoffer button:hover {
    background-color: #218838;
  }
  .aboutus {
    margin: auto;
    color: black;
    display: table-cell;
}